<% provide(:title, "Comment") %>

<div class="center">
  <%=link_to("Back", admin_review_path(@review), class: "btn btn-primary")%>
</div>


<p><b><%= @review.review %></b></p>

<h3>Post a Comment</h3>
<%= render 'shared/comment_error_messages' %>
<%=form_for([:admin, @comment]) do |f|%>
<table>
<tr>

  <td><%=f.hidden_field(:review_id)%></td>
  <td><%=f.hidden_field(:user_id)%></td>
</tr>
  <tr>
    <th>Comment</th>
    <td><%=f.text_field(:comment, class: 'form-control')%></td>
  </tr>
</table>
<%=f.submit("Post", class: "btn btn-primary")%>
<%end%>
