<% provide(:title, "Admin") %>

<h2>Welcome Admin</h2>
<hr>
<div class="row">
  <div class="col-sm-6">
    <p>To Add a New Hotel</p>
  </div>
  <div class="col-sm-6">
    <%=link_to("Add a new Hotel", new_hotel_path, class: "btn btn-primary" )%>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-6">
    <p>To Approve New Reviews</p>
  </div>
  <div class="col-sm-6">
    <%=link_to("Approve Reviews", reviews_path, class: "btn btn-primary" )%>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-6">
    <p>To Approve New Comments</p>
  </div>
  <div class="col-sm-6">
    <%=link_to("Approve Comments", comments_path, class: "btn btn-primary" )%>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-6">
    <p>To See/Delete all Images</p>
  </div>
  <div class="col-sm-6">
    <%=link_to("Manage Images", images_path, class: "btn btn-primary" )%>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-6">
    <p>To Show/Delete Users</p>
  </div>
  <div class="col-sm-6">
    <%=link_to("Manage Users", users_path, class: "btn btn-primary" )%>
  </div>
</div>
