<% provide(:title, "Update Room") %>

<div class="center">
  <%= link_to("Back", admin_rooms_path(:hotel_id => @room.hotel.id), class: "btn btn-primary") %>
</div>
<h1>Edit</h1>
<h3>Hotel Name : <%= @hotel.hotel_name %>, <%= @hotel.location %></h3>
<%=form_for([:admin, @room]) do |f|%>
<table>
<tr>

  <td><%=f.hidden_field(:hotel_id)%></td>
</tr>
  <tr>
    <th>Room No:</th>
    <td><%=f.text_field(:room_no, class: 'form-control')%></td>
  </tr>
  <tr>
    <th>No. of Guests</th>
    <td><%=f.number_field(:guest, min: 0, class: 'form-control')%></td>
  </tr>
</table>
<%=f.submit("Update", class: "btn btn-primary")%>
<%end%>
