<p>A mail from "<%= @user.user_name %>", related to Hotel "<%= @hotel.hotel_name %>".</p>
<blockquote>
  <em><%= @email.mail %></em>
</blockquote>
<p>To reply to this mail, mail to <br>Name : <%= @user.user_name %>, email-id : <%= @user.email %></p>
