<% provide(:title, @user.user_name) %>
<div class="center">
  <%=link_to("Home", hotels_path, class: "btn btn-primary")%>
</div>

<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.user_name %>
      </h1>
    </section>
  </aside>

  <div class="center">
    <%= link_to "Edit", edit_user_path(current_user) , class: "btn btn-primary"%>
  </div>
</div>
<% unless @bookings.size == 0%>
<h2>Bookings Made By You</h1>
  <hr>
    <%@bookings.each do |booking| %>
    <div class="row">
      <div class="col-sm-8">
        <h4><%= link_to(booking.hotel.hotel_name, hotel_path(booking.hotel)) %> | <%= booking.hotel.location %></h4>
        <!-- <p>Check-in date : <%#= booking.check_in.to_date %></p> -->
        <!-- <p>Check-out date : <%#= booking.check_out.to_date %></p> -->
        <p>Check-in date : <b><%= booking.check_in.to_date.strftime("%B %d, %Y") %></b></p>
        <p>Check-out date : <b><%= booking.check_out.to_date.strftime("%B %d, %Y") %></b></p>
        <p>No.of Guests Expected : <b><%= booking.no_of_guests %></b></p>
        <p>No.of Rooms Allocated : <b><%= booking.no_of_rooms %></b></p>
      </div>
      <div class="center col-sm-4">
        <% d = DateTime.now%>
        <% d=d.to_time.to_i %>
        <% check_in = booking.check_in.to_time.to_i %>
        <% dif = check_in - d %>
        <% if dif>=604800%>
          <%= link_to "Cancel Booking", booking, class: "btn btn-danger", method: :delete,
                                     data: { confirm: "You sure?" } %>
        <% end %>

      </div>


    </div>
    <hr>
    <%end %>
  <%end %>
<h2>Images Uploaded by You</h2>
<hr>
<%@images.each do |img| %>
<div class="media">
  <%= link_to image_tag(img.image.url(:large), class: 'media-object'), img.image.url, target: '_blank' %>
</div>
<% end %>
