<% provide(:title, "Search") %>
<div class="center">
  <%=link_to('Home', admin_hotels_path, class: "btn btn-primary") %>
</div>

<h1>Search Result</h1>
<div class="container">
  <% if @hotels.size==0 %>
  <h2>No Bookings Availabe </h2>
  <% end %>
  <div class="col-sm-4">
    <%= form_tag admin_searches_path, method: :get, class: 'form-horizontal' do %>
      <!-- <%= hidden_field_tag :location, params[:location] %> -->
      <%= hidden_field_tag( 'location', @location) %>
      <%= hidden_field_tag( 'check_in', @check_in) %>
      <%= hidden_field_tag( 'check_out', @check_out) %>
      <!-- <%= hidden_field_tag :check_in, params[:check_in] %> -->
      <!-- <%= hidden_field_tag :check_out, params[:check_out] %> -->
      <%= text_field_tag :min_price, params[:min_price], {class: 'form-control', placeholder:'Minimum Price'} %>
      <%= text_field_tag :max_price, params[:max_price], {class: 'form-control', placeholder:'Maximum Price'} %>
      <%#= number_field_tag :rating, params[:rating],  {class: 'form-control', placeholder: 'Minimum Rating'}%>
      <%= number_field_tag 'rating', params[:rating], in: 0..5, class: 'form-control', placeholder: "Minimum Rating"%>
      <%#= number_field_tag :guest, params[:guest],  {class: 'form-control', placeholder: 'No.of Guests'}%>
      <%= number_field_tag 'guest', params[:guest], min: 1, class: 'form-control', placeholder: "No.of Guests"%>
      <%= submit_tag "Filter", :name => nil, class: "btn btn-primary" %>
      <% end %>
  </div>
  <div class="col-sm-8">
    <% @hotels.each do |hotel|%>
    <div class="row" style="border:1px solid black">
      <hr>
      <div class="col-sm-6">
        <table>
          <tr>
            <th>Name</th>
            <td>: <%=link_to(hotel.hotel_name, admin_hotel_path(hotel))%></td>
          </tr>
          <tr>
            <th>Location</th>
            <td>: <%=hotel.location%></td>
          </tr>
          <tr>
            <th>Price</th>
            <td>: <%=hotel.price%></td>
          </tr>
          <tr>
            <th>Contact Email</th>
            <td>: <%=hotel.email%></td>
          </tr>

        </table>
      </div>
      <div class="col-sm-6">
        <% @review = hotel.reviews.to_a%>
      <%  @avg_rating = if @review.blank?%>
      <%  0 %>
      <%  else %>
      <% review=hotel.reviews.where(approved_by: true)
      review.average(:rating) %>
      <%#  hotel.reviews.average(:rating)%>
      <%  end %>

        <div class='star-rating' data-score=<%= @avg_rating %>></div>
      </div>
    </div>
<br>
    <% end %>
  </div>

</div>

<script>
    $('.star-rating').raty({
      path: '/images/ratyrate/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
