<% provide(:title, "Edit Hotel") %>
<div class="center">
  <%=link_to("Back", hotels_path, class: "btn btn-primary")%>
</div>
<h2>Update a Hotel</h2>
<%=form_for([:admin, @hotel]) do |f|%>
<table>
  <tr>
    <th>Name</th>
    <td><%=f.text_field(:hotel_name, class: 'form-control')%></td>
  </tr>
  <tr>
    <th>Location</th>
    <td><%=f.text_field(:location, class: 'form-control')%></td>
  </tr>
  <tr>
    <th>Price</th>
    <td><%=f.text_field(:price, class: 'form-control')%></td>
  </tr>
  <tr>
    <th>Contact Email</th>
    <td><%=f.text_field(:email, class: 'form-control')%></td>
  </tr>

</table>
<%=f.submit("Update Hotel", class: "btn btn-primary")%>
<%end%>
