<% provide(:title, "Search") %>

<h2>Advanced Search</h2>



  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @search do |f| %>


        <%= f.text_field :name, class: 'form-control', placeholder: 'Hotel Name' %>


        <%= f.text_field :location, class: 'form-control', placeholder: 'Place' %>


          <%= f.text_field :min_price, size: 10, class: 'form-control', placeholder: 'Minimum Price' %>
          <%= f.text_field :max_price, size: 10, class: 'form-control', placeholder: 'Maximum Price' %>
          <%= f.date_field :check_in, class: 'form-control datepicker-in', placeholder: 'Check-in : YYYY-MM-DD' %>
          <%= f.date_field :check_out, class: 'form-control datepicker-out', placeholder: 'Check-out : YYYY-MM-DD' %>


        <%= f.submit "Search", class: "btn btn-primary" %>
      <% end %>


    </div>
  </div>
