<% provide(:title, 'All users') %>

<div class="center">
  <%= link_to("Admin Home", admin_path, class: "btn btn-primary") %>
</div>

<h1>All users</h1>

<%= will_paginate %>

<div class="users container">
  <% @users.each do |user| %>
  <div class="row">
    <div class="col-sm-4">
      <%= gravatar_for user, size: 80 %>
    </div>
    <div class="col-sm-4">
      <p><%= link_to user.user_name, admin_user_path(user) %></p>
      <p><%= user.email %></p>
      <% if user.provider.present? %>
      <p>Through <b><%= user.provider %></b></p>
      <% end %>
    </div>
    <div class="col-sm-4">
      <% if current_user.admin? && !current_user?(user) %>
       <%= link_to "delete", [:admin, user], class: "btn btn-danger", method: :delete,
                                  data: { confirm: "You sure?" } %>
      <% end %>
    </div>

  </div>
    <!-- <li> -->
      <!-- <%= gravatar_for user, size: 80 %>
      <%= link_to user.user_name, admin_user_path(user) %>
      <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", [:admin, user], method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %> -->

    <!-- </li> -->
<hr>
  <% end %>
</div>

<%= will_paginate %>
