
<% provide(:title, "Hotels list and Reviews") %>

<div class="container">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
       <h2>Check Availability</h2>
       <%= form_for @search, :url => {:controller => "searches", :action => "create", :id => @search} do |f| %>

         <%= f.text_field :location, class: 'form-control', placeholder: 'Place' %>

           <%= f.date_field :check_in, class: 'form-control datepicker-in', placeholder: 'Check-in : YYYY-MM-DD' %>
           <%= f.date_field :check_out, class: 'form-control datepicker-out', placeholder: 'Check-out : YYYY-MM-DD' %>


         <%= f.submit "Search", class: "btn btn-primary" %>
         <% end %>
      </div>

  </div>
</div>

<hr>

<% if logged_in? %>
<% if current_user.admin? %>
<div class="center">
  <%=link_to("Visit Admin Section", admin_path, class: "btn btn-primary" )%>
</div>
<% end %>
<% end %>




<%= will_paginate %>
<% if @hotels.size==0 %>
  <h1>No result found for your Search</h1>
<% end %>

  <% @hotels.each do |hotel| %>
  <div class="row">
    <hr>

    <div class="col-sm-4">
      <table>
        <tr>
          <th>Name</th>
          <td>: <%=hotel.hotel_name%></td>
        </tr>
        <tr>
          <th>Location</th>
          <td>: <%=hotel.location%></td>
        </tr>
        <tr>
          <th>Price</th>
          <td>: <%=hotel.price%></td>
        </tr>
        <tr>
          <th>Contact Email</th>
          <td>: <%=hotel.email%></td>
        </tr>

      </table>
    </div>
    <div class="col-sm-4">
      <div class="center">
        <%=link_to('show', hotel_path(hotel), class: "btn btn-primary")%>
        <% if logged_in? %>
        <% if current_user.admin? %>
        <%=link_to('edit', edit_hotel_path(hotel), class: "btn btn-primary")%>
        <%=link_to('delete', delete_hotel_path(hotel), class: "btn btn-primary")%>
        <%=link_to('Add Room', new_room_path(:hotel_id => hotel.id), class: "btn btn-primary")%>
        <% end %>

        <% end %>

        <hr>
        <%@total=hotel.reviews.where(approved_by: true).size %>
        <%if @total>1 || @total==0%>
        <p><%= @total %> Reviews</p>
        <% else %>
          <p><%= @total %> Review</p>
          <% end %>


          <% @review = hotel.reviews.to_a%>
        <%  @avg_rating = if @review.blank?%>
        <%  0 %>
        <%  else %>
        <% review=hotel.reviews.where(approved_by: true)
        review.average(:rating) %>
        <%#  hotel.reviews.average(:rating)%>
        <%  end %>



          <div class='star-rating' data-score=<%= @avg_rating %>></div>
        </div>
    </div>
    <div class="col-sm-4">
        <% @img=hotel.images.where(:hotel_id=> hotel.id).first %>
        <%if @img%>
        <%= link_to image_tag(@img.image.url(:large), class: 'media-object'), hotel_path(hotel) %>
        <%else%>
          <%if logged_in? %>
          <%=link_to('Add a New Image', new_image_path(:hotel_id => hotel.id, :user_id=> current_user.id), class: "btn btn-primary")%>
          <%end%>
          <% end %>
    </div>

</div>

<hr>
<%end%>
<%= will_paginate %>


<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
