<% provide(:title, "Reviews") %>

<div class="center">
  <%=link_to('Back', hotels_path, class: "btn btn-primary")%>
</div>


<h2>Hotel details</h2>

  <hr>

<div class="row">
  <div class="col-md-6">
    <table>
      <tr>
        <th>Name</th>
        <td>: <%=@hotel.hotel_name%></td>
      </tr>
      <tr>
        <th>Location</th>
        <td>: <%=@hotel.location%></td>
      </tr>
      <tr>
        <th>Price</th>
        <td>: <%=@hotel.price%></td>
      </tr>
      <tr>
        <th>Contact Email</th>
        <td>: <%=@hotel.email%></td>
      </tr>
    </table>

  </div>
  <div class="col-md-6">
    <%= link_to("Gallery", image_path(:hotel_id=>@hotel.id), class: "btn btn-primary") %>
    <%if logged_in? %>
    <%=link_to('Add a New Image', new_image_path(:hotel_id => @hotel.id, :user_id=> current_user.id), class: "btn btn-primary")%>
    <%end %>
  </div>
</div>

<hr>

<h3>Reviews</h3>
<%@reviews.each do |r|%>
<p style="border:2px solid black;padding:5px"><%=r.review%></p>
<div class="center">
  <%@total=r.comments.size %>
  <%if @total>1 || @total==0%>
  <small><%= @total %> Comments</small>
  <% else %>
    <small><%= @total %> Comment</small>
    <% end %>
  <%=link_to('show', review_path(r), class: "btn btn-primary")%>
</div>
<br>
<%end%>

<div class="center">
  <%=link_to('new review', new_review_path(:hotel_id => @hotel.id), class: "btn btn-primary")%>
</div>
