<% provide(:title, "New Review") %>
<div class="center">
  <%=link_to("Back", hotel_path(@hotel), class: "btn btn-primary")%>
</div>



<h2><%= @hotel.hotel_name %></h2>
<h3>Add a Review</h3>
<%= render 'shared/review_error_messages' %>
<%=form_for(@review) do |f|%>
<table>
<tr>

  <td><%=f.hidden_field(:hotel_id)%></td>
  <td><%=f.hidden_field(:user_id)%></td>
</tr>
  <tr>
    <th>Review</th>
    <td><%=f.text_field(:review, class: 'form-control')%></td>
  </tr>
  <tr>

    <%= f.label :rating, class: 'col-sm-2 form-control-label' %>
  <div class="col-sm-6" id='star-rating'></div>
  </tr>
</table>
<%=f.submit("Post", class: "btn btn-primary")%>
<%end%>

<script>
$('#star-rating').raty({
    path: '/assets',
    scoreName: 'review[rating]'
});
</script>
